{% extends 'layouts/base-presentation.html' %} 

{% block title %} Abby Store - presentación {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} min-vh-100 {% endblock body_class %} 




{% block content %} 

<section class="home">
<!-- Imagen de fondo inicio -->
</section>



<div style="height: 1fr">
    <!-- just to make scrolling effect possible -->
    <h2 class="myH2 mt-8 mb-8">Bienvenido a Abby Store</h2>
    <p class="myP mb-5">En Abby Store, nos dedicamos a brindarte una experiencia única de compras en línea, donde la moda se encuentra con la comodidad. Somos más que una tienda; somos tu destino para descubrir las últimas tendencias en ropa y accesorios, diseñados para realzar tu estilo personal.</p>
    <p class="myP mb-5">Nuestro compromiso es ofrecerte productos de alta calidad que reflejen la elegancia y la innovación. Desde prendas de vestir modernas hasta accesorios que complementan tu look, en Abby Store encontrarás una cuidada selección de artículos para cada ocasión.</p>
    <p class="myP mb-5">Inspírate con nuestras colecciones cuidadosamente curadas, diseñadas para satisfacer los gustos más exigentes. Ya sea que busques el atuendo perfecto para una ocasión especial o simplemente desees actualizar tu armario con lo último en moda, Abby Store tiene algo para ti.</p>
    <p class="myP mb-5">Explora nuestro catálogo en constante evolución y sumérgete en la experiencia de compra en línea que hemos creado pensando en ti. Gracias por elegir Abby Store, donde la moda se encuentra con la conveniencia, y tu estilo se eleva a nuevas alturas.</p>
    <p class="myP mb-8">¡Descubre tu estilo único en Abby Store!</p>
    
                
</div>

{% endblock content %} 


{% block javascripts %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
{% endblock javascripts %} 