{% block stylesheets %} <link href="/static/css/navigation-site.css" rel="stylesheet" />{% endblock stylesheets %}

<!-- <nav class="nav">
    <div class="container">
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li>
                    <div class="nav-search">
                        <input type="text" placeholder="Search...">
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Productos</a>
                    <div class="dropdown-content">
                        <a href="#">Categoría 1</a>
                        <a href="#">Categoría 2</a>
                        <a href="#">Categoría 3</a>
                    </div>
                </li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav> -->




{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/js/navigation-site.js"></script>

{% endblock javascripts %} 
